########################################################################
# Google API                                                           #
########################################################################

# Obtaining your own API key:
# http://www.chromium.org/developers/how-tos/api-keys

# random API key from http://zerokidz.com/ideas/?p=11035 to skip these steps (no idea if still valid)
API_KEY = 'AIzaSyBOti4mM-6x9WDnZIjIeyEU21OpBXqWBgw'

# locale configuration used for Google Speech and Google TTS APIs
DEFAULT_LOCALE = 'en-US'

########################################################################
# pocketsphinx                                                         #
# language model and dictionary fine-tuned for a specific trigger word #
########################################################################

# the default pocketsphinx en_US accoustic model
SPHINX_HMM = '/usr/local/Cellar/cmu-pocketsphinx/0.8/share/pocketsphinx/model/hmm/en_US/hub4wsj_sc_8k/'

# for quick usage, you can always use JASPER "persona"
# http://jasperproject.github.io/
# https://raw.githubusercontent.com/jasperproject/jasper-client/master/static/languagemodel_persona.lm
# https://raw.githubusercontent.com/jasperproject/jasper-client/master/static/dictionary_persona.dic

SPHINX_LM = 'languagemodel_persona.lm'
SPHINX_DIC = 'dictionary_persona.dic'
SPHINX_TRIGGER = 'JASPER'

########################################################################
# Required applications                                                #
########################################################################

# mp3 player command line (example using sox in OSX)
MP3_PLAY = 'play -q'

# backup offline text-to-speech utility (example using say in OSX)
OFFLINETTS = 'say'

########################################################################
# Brain modules                                                        #
########################################################################

MODULES = [ 'weatherpt', 'lang_change', 'wolfram' ]


########################################################################
# VOIP settings                                                        #
########################################################################

PJSIP_USERNAME = 'myuser'
PJSIP_PASSWORD = 'mypassword'
PJSIP_REGISTAR = 'voip.myserver.com'

# if no proxy required, leave blank
PJSIP_PROXY = 'proxy.voip.myserver.com'

# change if required
PJSIP_ID = PJSIP_USERNAME + '@' + PJSIP_REGISTAR


########################################################################
# module settings                                                      #
########################################################################

# wolframalpha API key used by wolfram module
WOLFRAM_API_KEY = None